{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'libs/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    {% block scriptHead %}
    {% endblock %}
    <title>{% block title %}title{% endblock %}</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">ArgoBox²</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% block navbar %}
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                {% endblock %}
            </ul>
        </div>
    </div>
</nav>
<div class="container">
{% block content %}
{% endblock %}
</div>

<script src="{% static 'libs/bootstrap/bootstrap.bundle.min.js' %}"></script>
{% block script %}
{% endblock %}
</body>
</html>