{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ArgoBox²</title>
    <link rel="stylesheet" href="{% static 'interface/libs/Cesium/Widgets/widgets.css' %}">
    <link rel="stylesheet" href="{% static 'interface/css/map.css' %}">
    <link rel="stylesheet" href="{% static 'libs/bootstrap/bootstrap.min.css' %}">
    <script src="{% static 'interface/libs/Cesium/Cesium.js' %}"></script>
    <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'libs/echarts/echarts.js' %}"></script>
    <script src="{% static 'interface/js/imagery-provider.util.js' %}"></script>
    <script src="{% static 'interface/js/geometries-helper.util.js' %}"></script>
    <script src="{% static 'interface/js/task-manager.js' %}"></script>
</head>
<body>
<div id="searchtool-container">
    <div id="searchbar" class="float-box">
        <input type="text" id="search-text" placeholder="Search for float, e.g. &ldquo;3900515 chla&rdquo;">
        <button id="search-btn" class="cesium-button">Search</button>
    </div>
    <div id="search-completion" class="float-box">
        <div id="search-tip">Available types: </div>
        <ul id="search-completion-list">
        </ul>
    </div>
    <div id="profile-container" class="float-box float-bottom" style="display: none">
        <div id="diagram-switch-container">
            <button class="inline-switch cesium-button" onclick="loadProfileForSelected('core')">Core</button>
            <button class="inline-switch cesium-button" onclick="loadProfileForSelected('bbp')">BBP</button>
            <button class="inline-switch cesium-button" onclick="loadProfileForSelected('cdom')">CDOM</button>
            <button class="inline-switch cesium-button" onclick="loadProfileForSelected('chla')">Chl-a</button>
            <button class="inline-switch cesium-button" onclick="loadProfileForSelected('doxy')">DOXY</button>
            <button class="inline-switch cesium-button" onclick="loadProfileForSelected('irra')">Irra</button>
            <button class="inline-switch cesium-button" onclick="loadProfileForSelected('nitr')">Nitr</button>
            <button class="inline-switch cesium-button" onclick="loadProfileForSelected('ph')">PH</button>
        </div>
        <div id="no-data-label">No data</div>
        <div id="diagram-container" class="profile-diagram"></div>
    </div>
</div>
<div id="loading-modal" class="full-screen-modal">
    <!--<img src="images/spinner.gif">-->
    <div id="spinner"></div>
    <div id="task-list-container">
        <ul id="task-list">
        </ul>
    </div>
</div>
<div id="cesiumContainer"></div>
<script src="{% static 'interface/js/map-init.js' %}"></script>
<script src="{% static 'interface/js/data-loader.js' %}"></script>
<script src="{% static 'interface/js/event-listener.js' %}"></script> <!-- Should not be moved into <head> -->

</body>
</html>